<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="mb-4">Selamat Datang di Control Panel Backend Travel-U</h1>
            <p>[(#{home.index.text})]</p>
            <p class="mb-5">
                <span>API yang terdapat di Backend dapat diakses</span>
                <a th:href="@{/swagger-ui.html}" target="_blank"> disini</a>.
            </p>
            <div class="col-md-4 mb-5">
                <h4 class="mb-3">[[#{home.index.exploreEntities}]]</h4>
                <div class="list-group">
                    <a th:href="@{/admin}" class="list-group-item list-group-item-action">[[#{admin.list.headline}]]</a>
                    <a th:href="@{/armada}" class="list-group-item list-group-item-action">[[#{armada.list.headline}]]</a>
                    <a th:href="@{/csticket}" class="list-group-item list-group-item-action">[[#{csticket.list.headline}]]</a>
                    <a th:href="@{/diskon}" class="list-group-item list-group-item-action">[[#{diskon.list.headline}]]</a>
                    <a th:href="@{/jadwal}" class="list-group-item list-group-item-action">[[#{jadwal.list.headline}]]</a>
                    <a th:href="@{/pelanggan}" class="list-group-item list-group-item-action">[[#{pelanggan.list.headline}]]</a>
                    <a th:href="@{/pemesanan}" class="list-group-item list-group-item-action">[[#{pemesanan.list.headline}]]</a>
                    <a th:href="@{/pembayaran}" class="list-group-item list-group-item-action">[[#{pembayaran.list.headline}]]</a>
                    <a th:href="@{/bannerImage}" class="list-group-item list-group-item-action">[[#{bannerImage.list.headline}]]</a>
                    <a th:href="@{/destinasiItinerari}" class="list-group-item list-group-item-action">[[#{destinasiItinerari.list.headline}]]</a>
                    <a th:href="@{/itinerari}" class="list-group-item list-group-item-action">[[#{itinerari.list.headline}]]</a>
                    <a th:href="@{/kota}" class="list-group-item list-group-item-action">[[#{kota.list.headline}]]</a>
                    <a th:href="@{/cabang}" class="list-group-item list-group-item-action">[[#{cabang.list.headline}]]</a>
                </div>
            </div>
        </div>
    </body>
</html>
